.details__container{
    width: 50%;
    margin-inline: auto;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 1px 3px 20px 0px rgba(0,0,0,0.75);
}
.details__box{
    height: 100%;
}
.details__actions{
    width: 100%;
}