.details__container{
    width: 50%;
    margin-inline: auto;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 1px 3px 20px 0px rgba(0,0,0,0.75);
}
.details__box{
    height: 100%;
}
.details__actions{
    width: 100%;
}
.cart__container{
    width: 60%;
    margin-inline: auto;
}
.cartItem__data{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 420px){
    .details__container {
        width: 85%
    }
}